[submodule "deps/sinter"]
	path = deps/sinter
	url = https://github.com/source-academy/sinter.git
	shallow = true
[submodule "deps/wolfMQTT"]
	path = deps/wolfMQTT
	url = https://github.com/wolfSSL/wolfMQTT.git
	shallow = true
[submodule "deps/wolfssl"]
	path = deps/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
	shallow = true
