[submodule "deps/sinter"]
	path = deps/sinter
	url = https://github.com/source-academy/sinter.git
	shallow = true
[submodule "deps/mosquitto"]
	path = deps/mosquitto
	url = https://github.com/eclipse/mosquitto.git
	shallow = true
